.wrapper
  = render 'shared/side-bar'

  .chat
    .header
      .left-header
        .left-header__title
          = @group.name
        %ul.left-header__members
          Member:
          - @group.users.each do |user|
            %li.member
              = user.name
      .right-header
        = link_to "Edit", "#", class: 'right-header__button'
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            / %i.fa.fa-picture-o.icon (自分で作ったやつ)
            =fa_icon 'picture-o', class: 'icon'
            / %input.hidden{type: "file"} (自分で作ったやつ)
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

